.aula{
    border: 2px solid white;
    text-align: center;
    margin: 20px;
}


.mySlides{
    min-height: 400px;
}

.card img{
    max-height: 200px


}


.card_info{
    min-height: 60px;
}

.card{
    font-weight: 700;
    background: inherit;    
}

.card_btn{
    background-color: white;
}

body{
    margin: 0 auto;
    max-width: 95vw;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(210,22,22,1) 100%);
    color: white;
}
